<div class="container">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h1 class="text-primary">{{ home.title | ExampleFilter }}</h1>

            <div class="text-center">
                <h2 class="text-info">{{ home.subTitle }}</h2>
                <img src="images/angular.png" height="60" example-directive />
                <img src="images/gulp.png" height="60"/>
                <img src="images/browserify.png" height="60"/>
            </div>
            
        </div>

        <h3 class="heading -medium">Here is a fancy number served up courtesy of Angular: <span class="number-example">{{ home.number }}</span></h3>

    </div>

</div>
